    <div class="portfolio-modal modal fade" id="modal-projects-barclays" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Barclays Nimble</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-thumbnail img-centered" src="img/portfolio/barclays.jpeg" alt="">
                  <p>Senior technical consultant in a transformation project to streamline and digitize the corporate on-boarding process within the bank, 
                    bringing significant savings in time and cost. Taleb was one of three senior specialists, 
                    driving the integration of the Oracle rules engine (OPA) that sits at the heart of the application, 
                    to automate the business decisions that form part of the on-boarding process</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>Barclays Corporate</strong>
                    </li>
                    <li>Date:
                      <strong>November 2013 - April 2015</strong>
                    </li>
                    <li>Role:
                      <strong>Senior Technical Consultant</strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>