    <div class="portfolio-modal modal fade" id="modal-projects-cpw" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>Carphone Warehouse - Beehive</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-thumbnail img-centered" src="img/portfolio/cpw.jpeg" alt="">
                  <p>Senior developer in a team tasked with creating a new web-based sales platform for the retailer's various product offerings. 
                    The Java-based application incorporated the latest web frameworks, including backbone, handlebars, and cordova. 
                    I worked across the various application tiers including web, data persistence/retrieval, 
                    and web service integration using various technologies including Spring, Apache Solr, Ajax</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>Carphone Warehouse</strong>
                    </li>
                    <li>Date:
                      <strong>May 2013 - November 2013</strong>
                    </li>
                    <li>Role:
                      <strong>Software Engineer</strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>