    <div class="portfolio-modal modal fade" id="modal-projects-dwp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>DWP - Universal Credit</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-thumbnail img-centered" src="img/portfolio/dwp.jpeg" alt="">
                  <p>Senior developer on a project delivering a web solution based on Oracle Policy Automation. 
                    The solution, one of the biggest OPA implementations in the world, automates welfare application assessments 
                    for millions of users across the country. Although my main focus was the development and integration of the OPA rulebase, 
                    I worked with colleagues across onshore and offshore teams to deliver a working end to end solution for each of the project’s Agile iteration cycles.</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>Department of Work and Pensions</strong>
                    </li>
                    <li>Date:
                      <strong>May 2011 - May 2013</strong>
                    </li>
                    <li>Role:
                      <strong>Software Engineer</strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>