    <div class="portfolio-modal modal fade" id="modal-projects-hmcts" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>HMCTS Reform - Probate</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-thumbnail img-centered" src="img/portfolio/hmcts.jpeg" alt="">
                  <p>Senior developer in the HMCTS Reform programme, delivering digital services following GDS principles and methodologies.
                      As part of the probate project team, taleb is working on the frontend application built using NodeJS, 
                      as well as the backend services built following the microservices architecture, with self-contained modules exposed via REST APIs.</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>Ministry of Justice HMCTS Reform</strong>
                    </li>
                    <li>Date:
                      <strong>July 2016 - Present</strong>
                    </li>
                    <li>Role:
                      <strong>Senior developer</strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>