    <div class="portfolio-modal modal fade" id="modal-projects-mojnoms" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <h2>MoJ NOMS - Strategic Partner Gateway</h2>
                  <hr class="star-primary">
                  <img class="img-fluid img-thumbnail img-centered" src="img/portfolio/moj-noms.jpeg" alt="">
                  <p>Lead developer within a team responsible for building a message routing system to integrate the MoJ NOMS's central systems 
                    with external partner systems. Taleb was part of the initial team that kick-started the agile delivery lifecycle, 
                    creating all the main building blocks, making crucial implementation decisions and driving the delivery of a secure, 
                    scalable and responsive system. The system was built using Apache Camel, and integrated with SOAP, JAX-RS and ActiveMQ endpoints.</p>
                  <ul class="list-inline item-details">
                    <li>Client:
                      <strong>Ministry of Justice NOMS</strong>
                    </li>
                    <li>Date:
                      <strong>May 2015 - June 2016</strong>
                    </li>
                    <li>Role:
                      <strong>Lead developer</strong>
                    </li>
                  </ul>
                  <button class="btn btn-success" type="button" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>