<section class="success" id="about">
    <div class="container">
      <h2 class="text-center">About</h2>
      <hr class="star-light">
      <div class="row">
        <div class="col-lg-3 ml-auto">
          <p>Senior Technical Consultant with 8+ years experience in software development
              and technology consulting.</p>
        </div>
        <div class="col-lg-3 mr-auto">
          <p>Worked on a variety of IT transformation projects
              across various industries including healthcare, banking and retail.</p>
        </div>
        <div class="col-lg-3 mr-auto">
          <p>Delivered cutting edge solutions using a multitude of technologies including Java,
            Spring, NodeJS and Apache Camel.</p>
        </div>
        <div class="col-lg-3 mr-auto">
          <p>Worked across design, build, and test,
            using agile and waterfall methodologies, in small and large teams.</p>
        </div>
      </div>
    </div>
</section>
