<section id="projects">
  <div class="container">
    <h2 class="text-center">Projects</h2>
    <hr class="star-primary">
    <div class="row justify-content-center">
      <div class="col-md-2 portfolio-item">
        <a class="portfolio-link" href="#modal-projects-hmcts" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid img-thumbnail" src="img/portfolio/hmcts.jpeg" alt="">
        </a>
      </div>
      <div class="col-md-2 portfolio-item">
        <a class="portfolio-link" href="#modal-projects-mojnoms" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid img-thumbnail" src="img/portfolio/moj-noms.jpeg" alt="">
        </a>
      </div>
      <div class="col-md-2 portfolio-item">
        <a class="portfolio-link" href="#modal-projects-barclays" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid img-thumbnail" src="img/portfolio/barclays.jpeg" alt="">
        </a>
      </div>
      <div class="col-md-2 portfolio-item">
        <a class="portfolio-link" href="#modal-projects-cpw" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid img-thumbnail" src="img/portfolio/cpw.jpeg" alt="">
        </a>
      </div>
      <div class="col-md-2 portfolio-item">
        <a class="portfolio-link" href="#modal-projects-dwp" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid img-thumbnail" src="img/portfolio/dwp.jpeg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>